* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

:root {
  --cor-verde-vibrante: #06B41B;
  --cor-marrom-terroso: #964B00;
  --cor-amarelo-mostarda: #FFDB58;
  /* Opcional */
  --cor-laranja-queimado: #D95319;
  /* Opcional */
  --cor-azul-celeste: #77B5FE;
  /* Opcional */
  --cor-vermelho-tijolo: #B22222;
  /* Opcional */
}

/* .poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
} */

header,
footer {
  background-color: var(--cor-verde-vibrante);
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

nav ul {
  list-style: none;
  margin-right: 20px;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none; 
  color: white; 
}

nav a:hover{
  color: var(--cor-laranja-queimado);
}

main {
  min-height: 500px;
}

.hero {
  margin-top: 80px;
}

.hero-content {
  text-align: center;
}

.posts-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os artigos quebrem a linha */
}

.ultimos-posts {
  margin-top: 80px;
}

.ultimos-posts h2{
  margin-left: 20px;
}

.posts-container article {
  width: 350px;
  margin: 20px;
  padding: 10px;
  border:solid 2px #964B00;
}

.posts-container img {
  width: 350px;
  height: 200px;
}

.todos-posts {
  align-self: flex-end;
  margin-top: 20px;
}

/* Blog */

.blog-container {
  display: flex;
}

.blog {
  width: 70%;
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  border-left:solid 2px #964B00;
}

.blog-main h2 {
  margin: 10px 0 20px 10px;
}

/* Cursos */

.cursos-container {
  display: flex;
  flex-wrap: wrap;
}

.cursos-container article{
  width: 350px;
  margin: 20px;
  padding: 10px;
  border:solid 2px #964B00;
}

.cursos-container img{
  width: 350px;
  height: 200px;
}

/* Cadastro */
main.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container form {
  display: grid;
  width: 300px;
  height: 400px;
  border: solid 1px #964B00;
  padding: 10px;
}

/* Login */
main.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form{
  display: grid;
  width: 300px;
  height: 300px;
  border: solid 1px #964B00;
  padding: 10px;
}

.login-esqueceu-senha-cadastro {
  display: inline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
